cmake-build-debug/
bin/
lib/
build/
output/
results/
ini/
median/data/
ext/.INSTALLED
/.settings/
/.cproject
/.project
/.pydevproject
*.so
*.dylib
*.o
*.DS_Store
*.pc
*.exe
*.dll
*.dSYM
median/soa-median/graph-lib_clean-median/test_VLDBJ_final/chemical-edit-distances
/src/env/ged_env.*.cpp
!/src/env/ged_env.gxl.cpp