bin/
lib/
build/
output/
results/
ini/
median/data/
ext/.INSTALLED
/.settings/
/.cproject
/.project
/.pydevproject
*.so
*.dylib
*.o
*.DS_Store
*.pc
*.exe
*.dll
/src/env/ged_env.*.cpp
!/src/env/ged_env.gxl.cpp